{% extends 'base.html' %}

{% block content %}
<main class="container">
    <h1> My Wish List</h1>
    {% if wishes.count %}
    <div class="card">
            {% for wish in wishes %}
            <div class="card-content">
                <table>
                    <tr>
                        <th>Wish</th>
                        <th></th>
                    </tr>
                    <tr>
                    <th>{{ wish.description }}</th>
                    <th>
                        <a href="{% url 'wishes_delete' wish.id %}">Delete</a>
                    </th>  
                    </tr>   
                </table>
            </div>
            {% endfor %}
        {% else %}
            <h5>Where are your wishes? Dream BIG!</h5>
        {% endif %}
           
        </div>
<a href="{% url 'wishes_create' %}">Add a Wish!</a>
{% endblock %}
